body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 
{
    text-align: center;
    font-size: 40pt;
    color: #000;
}
h1:hover
{
    color: blue;
}
img
{
    width: 400px;
    height: auto;
    transition: box-shadow 0.5s;
}
img:hover
{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 2);
}